
	
    html, body {
      font-family: Arial, 'sans-serif';
	  //display: flex;
	  margin: 0;
	  height: 100%;
	  //background-color: #DDEAF3;
	  background-color: #eeEAF3;
	  }
	  
	svg {
	  align-self: center;
	}
	
	#container{
	  display: flex;
      flex-direction: column;
      align-items: flex-start;
      //width: 200px;
	  height: 100%;
	}
	  
	#output2 {
	  display: flex;
	  justify-content: center;
	  margin: 0 auto;
	  align-self: center;
	  height: 100%;
    }
	
	#output {
	  display: flex;
	  justify-content: center;
	  margin: 0 auto;
	  align-self: center;
	  height: 100%;
    }
	
	.keylist {
	  float: left;
	  padding: 1em;
	  display: block;
	}
	
	ul {
	  list-style: none;
	  text-align: left;
	  padding-left: 1em;
	  
	}
	
	ul > li {
	  font-weight: bold;
	}
	
	/*
	tr > td {
	  display: block;
	  text-align: center;
	  float: left;
	  padding: .3em;
	}
	*/
	
	td > span {
	display: block;
	font-weight: bold;
	}
	
	h1 {
	text-align:center;
	}
	
	fieldset {
	  border-radius: 1em;
	  margin-top: 2em;
	  background-color: #fff;
	  text-align: center;
	  
	  border-style: none;
	  box-shadow: 2px 2px 0px #cacaca;
	}
	
	fieldset > fieldset {
	  border-style: 1px #000;
	  background-color: #cffeee;
	}
	
	fieldset > fieldset > fieldset {
	  background-color: #bfeeee;
	}
	
	fieldset > fieldset > fieldset > fieldset {
	  background-color: #9fdddd;
	}
	
	fieldset > table {
	  text-align: center;
	  margin: auto;
	}
	
	td > input {
	  width: 2em;
	  height: 2em;
	}
	
	li > input {
	  width: 2em;
	  height: 2em;
	  vertical-align: bottom;
	}
	
	li {
	  height: 2em;
	  line-height: 2em;
	}
	
	span.cw {
	  margin-left: 1em;
	}
	
	#submit {
	  padding: 1em;
	  margin-top: 1em;
	  border-radius: 1em;
	}
	
	span.n {
	  display: inline;
	}
	
	
	legend {
	  font: bold 20px sans-serif;
	  color: #333;
	}
	
	tr > td {
	  padding: .3em;
	}
	
	.keylist > tr > td {
	  border: 1px solid black;
	  width: 2em;
	}
